{% extends "app_heroku/components/base.html" %}
{% load static %}


{% block head %}{% endblock head %}

{% block title %}
    Модератор
{% endblock title %}

{% block navbar %}
    {% include 'app_heroku/components/navbar.html' %}
{% endblock navbar %}

{% block main %}
<main class="flex-shrink-0 container py-4">
    <div class="d-flex text-center">

    <form
        action="{% url 'my_admin_page' %}"
        method="POST"
        enctype="multipart/form-data"
        target="_self"
        class="form-control form-control-lg mx-auto p-1 m-1"
        style="width: 350px"
    >
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center py-2 ">Create tasks in bulk</h1>

        <div class="form-control mb-2">
          <label for="floatingInput">Insert excel file:</label>
          <input type="file" class="form-control" id="floatingInput" placeholder="Enter excel here" name="excel" accept=".xlsx,.xls">
        </div>
        <button class="w-100 btn btn-lg btn-primary m-1" type="submit">Submit</button>
        <button class="w-100 btn btn-lg btn-outline-danger m-1" type="reset">Reset</button>
        <p class="mt-5 mb-3 text-muted">© 2022</p>
      </form>
    </div>
</main>
{% endblock main %}


{% block footer %}
  {% include 'app_heroku/components/footer.html' %}
{% endblock footer %}