{% extends "app_heroku/components/base.html" %}
{% load static %}


{% block head %}{% endblock head %}


{% block navbar %}
    <div class="p-1 m-1">
      {% include 'app_heroku/components/navbar.html' %}
    </div>
{% endblock navbar %}

{% block main %}
<main class="flex-shrink-0 bg-light">
  <div class="card bg-dark text-white">
    <img src="https://png.pngtree.com/thumb_back/fh260/background/20200731/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg" class="card-img" alt="white">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>





</main>
{% endblock main %}


{% block footer %}
  {% include 'app_heroku/components/footer.html' %}
{% endblock footer %}
